form {
  background: white;
  padding: 2rem;
  margin: 2rem auto;
  max-width: 20rem;
}

.form-field {
  padding: 0 0 2rem;
}

label {
  font-weight: 600;
  display: block;
  margin: 0 0 0.25rem;
}

input {
  padding: 0.5rem;
  width: 100%;
}

.error input {
  border: 2px solid red;
}
